In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: pandas in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [14]:
import pandas as pd
df = pd.read_excel('table.xlsx')

In [20]:
df.tail()

,Country of Origin,Total Passenger Count by Country,Percentage of Passengers by Country,First Class Passenger Count by Country,Percentage of First Class Passengers by Country,Second Class Passenger Count by Country,Percentage of Second Class Passengers by Country,Third Class Passenger Count by Country,Percentage of Third Class Passengers by Country,Total Survivor Count by Country,Percentage of Survivors by Country,Total Fatality Count by Country,Percentage of Fatalities by Country
39,Turkey,6,0.0045,0,0.0000,1,0.0036,5,0.0070,2,0.0039,4,0.0049
40,United Kingdom,355,0.2685,44,0.1329,160,0.5714,151,0.2124,116,0.2283,239,0.2936
41,United States,300,0.2269,210,0.6344,46,0.1643,44,0.0619,172,0.3386,128,0.1572
42,Unknown,2,0.0015,0,0.0000,0,0.0000,2,0.0028,0,0.0000,2,0.0025
43,Uruguay,2,0.0015,0,0.0000,0,0.0000,2,0.0028,0,0.0000,2,0.0025